[submodule "Parallele_Algorithmen/Uebung/framework"]
	path = Parallele_Algorithmen/Uebung/framework
	url = https://gitlab.kit.edu/kit/iti/ae/teaching/parallele-algorithmen/uebung/submissions/ws2324/ucsmm/framework.git
